<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# the CSS file lives at "public/css/blog.css" #}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
      <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ asset('assets/css/scribbler-global.css') }}">
      <link rel="stylesheet" href="{{ asset('assets/css/scribbler-landing.css') }}">


        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <nav>
      <div class="logo"></div>
      <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item">
        <a href="{{ path('app_blog') }}" class="link link--dark">
        <i class="fa fa-book"></i> Blog </a></li>
        <li class="menu__item">
        <a href="{{ path('app_blog_show') }}" class="link link--dark"><i class="fa fa-github"></i> Blog show</a></li>

        <li class="menu__item">
        <a href="{{ path('test', {nom: 'Bouraoui'}) }}" class="link link--dark"><i class="fa fa-github"></i> Home</a></li>
        
        <li class="menu__item">
        <a href="{{ path('app_task_new') }}" class="link link--dark"><i class="fa fa-github"></i> Tasks</a></li>

        <li class="menu__item">
        <a href="{{ path('app_post_new') }}" class="link link--dark"><i class="fa fa-github"></i> Posts</a></li>

        <li class="menu__item">
        <a href="{{ path('app_vehicule_index') }}" class="link link--dark"><i class="fa fa-github"></i> Vehicules</a></li>
      </ul>
    </nav>

    <div class="hero">
      <h1 class="hero__title"> {% block page_title %}{% endblock %}</h1>
      <p class="hero__description"> {% block description %}{% endblock %}</p>
    </div>

    <div class="wrapper">
        {% block body %}{% endblock %}
    </div>

        <footer class="footer">Scribbler is a free HTML template created exclusively for <a href="https://tympanus.net/codrops/" target="_blank" class="link link--light">Codrops</a>.</footer>
    </body>
</html>
